.container {
    padding-top: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title,
.score {
    font-family: 'DungGeunMo';
    color: #FFF;
    text-align: center;
    text-shadow: 0px 10px 0px #0D3E48;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -15px;
    -webkit-text-stroke: #0D3E48 5px;
}

.buttons {
    display: flex;
    gap: 5vw;
    margin-top: 10vh;
}