main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    width: 50vw;
    height: 72px;
    outline: none;
    border-radius: 20px;
    border: 4px solid var(--stroke-color);
    font-size: 32px;
    padding: 10px 20px;
    margin: 20vh 0;
}

h1 {
    height: 72px;
    font-size: 96px;
    outline: none;
    border: none;
    background: none;
    color: white; 
    font-family: 'DNFBitBitv2';
    -webkit-text-stroke: var(--stroke-color) 1px;   
    cursor: pointer;
}