@keyframes marquee {
    from { transform: translateX(25%); }
    to { transform: translateX(-25%); }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #5FD8FF;
}

.game-info {
    margin: 0 0;
    position: fixed;
    top: 40px;
    left: 40px;
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.score {
    font-family: 'DungGeunMo';
    color: #FFF;
    text-shadow: 0px 3px 0px #0D3E48;
    -webkit-text-stroke: #0D3E48 2px;
    font-size: 4rem;
}

.lives {
    display: flex;
    column-gap: 40px;
}

.lives img {
    width: 60px;
}

#canvas {
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 70vh;
}

.ground {
    z-index: 8;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #402E27;
}

#webcam-container {
    opacity: 1;
    position: fixed;
    top: 40px;
    right: 40px;
    width: 20vw;
    z-index: 3;
    border-radius: 50%;
}

.webcam-canvas {
    border-radius: 50%;
}


