@keyframes marquee {
    from { transform: translateX(25%); }
    to { transform: translateX(-25%); }
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #5FD8FF;
}

.game-info {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.score {
    margin-left: 10%;
    font-family: 'DungGeunMo';
    color: #FFF;
    text-shadow: 0px 3px 0px #0D3E48;
    -webkit-text-stroke: #0D3E48 2px;
    font-size: 4rem;
}

.lives {
    margin-right: 10%;
    width: 10%;
    display: flex;
    column-gap: 40px;
}

.lives img {
    width: 60px;
}

#canvas {
    z-index: 1;
    width: 100vw;
    height: 90vh;
    background-color: #5FD8FF;
}

.ground {
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 24vh;
    background-color: #402E27;
}

