@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
    }
}

body {
    background: url('../resources/image/background/bgindex.png');
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}
