@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}

@font-face {
    font-family: 'MabinogiClassicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WavvePADO-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
    }
}

:root {
    --stroke-color: #0D3E48;
}

* {
    font-family: 'WavvePADO-Regular', 'DungGeunMo';
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../resources/image/background/bg.png);
    background-size: cover;
    overflow: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
}

button {
    height: 72px;
    font-size: 58px;
    outline: none;
    border: none;
    background: none;
    color: black; 
    font-family: 'WavvePADO-Regular', 'DNFBitBitv2', 'NeoDunggeunmoPro-Regular';
    -webkit-text-stroke: white 2px;
    text-shadow: 0px 5px 0px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    animation: moveUpDown 2s infinite alternate;
}
